header{
    h1{
     font-weight: 500;
     font-size: 18px;
     margin: 0 auto;
     text-transform: uppercase;
     margin-top: 5px;
     margin-bottom: 15px;
 
    }
    h2{
     font-weight: 900;
     font-size: 60px;
     text-transform: uppercase;
     color: $thirdColor;

    }
    .header__border-container{
     display: flex;
     align-items: center;
     justify-content: center;
     .header__border-line{
         width: 210px;
         border: 1px solid $dvdr;
        }
    }
    
 }

 